*

!.gitignore
!.vimrc
!.zshrc
!/.zsh_custom/
!/.zsh_custom/*
!/.zsh_custom/themes/
!/.zsh_custom/themes/*
!.slate
!/Library/
!/Library/Application\ Support/
!/Library/Application\ Support/Karabiner/
!/Library/Application\ Support/Karabiner/private.xml
